<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connetcion.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/library</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="swow_sql">true</property>
        <property name="hbm2ddl.auto">update</property>


        <mapping class="by.yarom.library.Entity.Author"></mapping>
        <mapping class="by.yarom.library.Entity.CatalogBooks"></mapping>
        <mapping class="by.yarom.library.Entity.Reader"></mapping>
        <mapping class="by.yarom.library.Entity.Order"></mapping>
        <mapping class="by.yarom.library.Entity.Give"></mapping>
        <mapping class="by.yarom.library.Entity.Category"></mapping>

    </session-factory>
</hibernate-configuration>